div {
    margin-bottom: 20px; /* Adjust the value as needed for the desired spacing */
  }
  
  img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 25px;
    background: darkgreen;
    padding: 20px;
    
  }

  .song-label {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: darkgreen;
    font-size: 20px;
  }

  .artist-label {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: darkgreen;
    font-size: 20px;

  }
  
